<%- include('./partials/head.ejs') %>
    <main>
        <div id="chooseRoomPage">
            <form id="chooseRoomForm">
                <fieldset>
                    <legend>Kies een room</legend>
                    <input type="text" name="name" id="name">
                    <input type="radio" name="room-select" id="room-1" value="topic-1" required>
                    <input type="radio" name="room-select" id="room-1" value="topic-2">
                    <input type="radio" name="room-select" id="room-1" value="topic-3">
                <button type="submit">Join</button>
                </fieldset>
            </form>
        </div>
        <div id="questionPage">
            <form id="questionForm">
                
            </form>
        </div>
        <div id="winnerPage">
        </div>
    </main>
    
    <%- include('./partials/footer.ejs') %>